ipython
jupyterlab
matplotlib
mkdocs
notebook
numpy
pandas
trl==0.27.2
transformers==5.0.0
torch==2.9.0+cu126
datasets==4.0.0
tokenizers==0.22.2
python-dotenv
dvc
python-box
pip
pytest
ruff
scikit-learn
peft
-e .
